<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&display=swap" rel="stylesheet">

    <title>Document</title>

    <style>

    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }


body{
    height: 100vh;
    background: linear-gradient(to bottom right, #fcc419, #f08c00);
}



    </style>
</head>
<body>
    <header style="display: flex; justify-content: space-around; width:950px; margin:0 auto; ">
        <h1  style= "display: inline; border: 1px solid #f08c00; border-radius: 100px; font-family: Kaushan Script; font-size: 48px; color:#fff;text-shadow: 5px 5px 5px #c9811b;  text-transform: uppercase; text-align: center;  transform: rotate(-2deg); margin-top:24px ">🍎 natural basket 🍍</h1>  
    </header>
    
</body>
</html>